{% extends "forms/template_form.html" %}

{% block form_page_title %} Engagement Request Form {% endblock %}


{% block form_link %}
<a href="/engagementrequestform/">Engagement Request Form</a> &gt;
{% endblock %}


{% block form_title %}
<td align="left" valign="top" width="98%">
    <div class="ch-section-header">
        Engagement Request Form
    </div><a id="content" name="content"></a>

<!--     <h1>Information Security Office Stolen Equipment Notification
    Report</h1>

    <h2>Before Submitting this Report</h2>

    <p>If you have not already contacted the UT Police Department at
    512-471-4441 to file a police report about your stolen device,
    please do so as soon as possible.</p>

    <h2>Stolen Equipment Notification Report Form</h2> -->

{% endblock %}


{% block form_location %}
<form action='servers_form.html' method='post'>{% csrf_token %}
{% for field in form %}
<p>
{{ field.label_tag }} <br>
{{ field }}
</p>
{% endfor %}
<input type='submit' value='Submit' />

</form>
{% endblock %}