{% extends "forms/template_form.html" %}

{% block form_page_title %} Position of Special Trust {% endblock %}


{% block form_link %}
<a href="https://forms.security.utexas.edu/forms/specialtrust/">Position of Special Trust</a> &gt;
{% endblock %}


{% block form_title %}
<td align="left" valign="top" width="98%">
    <div class="ch-section-header">    
        Position of Special Trust
    </div>
    <a id="content" name="content"></a>
    <h1>Position of Special Trust Form</h1>
    <p>
		Thank you.
		<br><br>
		Your selection has been recorded and will be submitted to the Information 
		Security Office, which is responsible for ensuring compliance with the 
		Information Resources Use and Security Policy.
		<br><br>
		If you would like to save a copy for your records, you can download this
		<a href="../download/">PDF with your information.</a>
	</p>

{% endblock %}