{% extends "forms/template_form.html" %}

{% block form_page_title %} Position of Special Trust {% endblock %}


{% block form_title %}
<td align="left" valign="top" width="98%">
    <a id="content" name="content"></a>
    <h1>Position of Special Trust Form</h1>
    <p>In accordance with The  University of Texas at Austin <a href="http://security.utexas.edu/policies/irusp.html">Information Resources Use and Security Policy</a> (section V, item 4),  all university employees with elevated systems privileges and access to <a href="http://www.utexas.edu/its/glossary/iso#GL_CategoryI_Data">Category-I university data</a> shall be required to   acknowledge annually the additional responsibilities they bear with those  privileges by signing a <em>Position of Special Trust</em> form. Supervisors are expected to review the  current job duties to determine if designation of Position of Special Trust is  appropriate.</p>
    <p>If Position of Special Trust is designated, employees shall acknowledge the additional responsibilities by  signing the <a href="/forms/specialtrust/">Position of Special Trust Form</a>. The form is submitted to the Information Security Office and to the employee's department head. Employees are expected to familiarize themselves  with all policies, rules, and regulations that pertain to their job. </p>
    <h2>Applying the Position of Special Trust</h2>
    <p>Any position that gives incumbents special  privileges or elevated access to systems or Category-I data should be considered to require this designation, including most information technology positions. Special or elevated access is generally available to systems  administrators for the purpose of administering others' access to systems. They also often have access to data above that of general users.</p>
    <p>Examples of special access privileges include: managing a mail server, file server, or network infrastructure; managing a sensitive business process for a department or the campus.</p>
    <p>Local Human Resources contacts can provide additional guidance to supervisors in determining an appropriate designation.</p>
    <p>This document and the form were <a href="trust-chglog.html">updated</a> on July 17, 2008. </p>


{% endblock %}